body {
    background: #222222;
}

a {
    text-decoration: none;
}

article {
    background: #FEF200;
    box-shadow: 0 5px 35px rgba(0,0,0,.65);
    padding-top: 5em;
    width: 600px;
    height: 800px;
    margin: 2em auto;
    background-image: url("draw.png");
    background-size: 100% 100%;
}

.text-for-dummies {
    text-transform: uppercase;
    color: white;
}

h2#title-conf {
    text-align: center;
    color: white;
    font-family: "Open Sans";
    font-size: 78px;
    -webkit-transform: rotateZ(-5deg);
    transform: rotateZ(-5deg);
    -moz-transform: rotateZ(-5deg);
    -o-transform: rotatez(-5deg);
    -ms-transform: rotatez(-5deg);
    font-style: italic;
}


.controls {
    position: fixed;
    font-family: "Open Sans", sans-serif;
    right: 0;
    text-align: left;
    top: 50%;
    width: 140px;
    margin-top: -135px;
}

.controls a {
    color: white;
    background: rgb(0, 148, 218);
    padding: 1em;
    display: block;
}

.controls a:hover {
    background: #2980b9;
}

p.footer {
    text-align: center;
    padding: 10px;
    margin-top: -20px;
    color: white;
    font-family: "Open Sans";
}

p.footer a {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.description {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: bold;
    -webkit-transform: rotateZ(-90deg);
    position: fixed;
    left: 50%;
    top: 253px;
    margin-left: -550px;
}
